.bg-container{
    background-color: white;
    height:100vh;
}

.container{
    background-image: linear-gradient(#ff6e7f, #bfe9ff);
    width: 60%;
    border-radius: 10px;
}
.count-text{
    color: black;
    font-size:40px;
}
.para{
    color:#334155;
    font-size: 20px;
}
.button{
    background-color: white;
    width:100px;
    height: 20px;
    border: 2px solid black;
    font-size: 15px;

}
.stared-para{
    font-size: 10px;
    color:#1e293b
}
.showing-text{
    font-family: 'Roboto';
    
}